<html>
	<head>
		<link href="css/styles.css" rel="stylesheet">
	<title>  </title>
	</head>
	<body bgcolor="#E6E6FA">
		<header id="h1">
			<h1>Tic-Tac-Toe</h1><hr class="style18">
			<center><a class="restart" href = '/'>Start Over</a></center>
		</header>
		<p>
		<center><%=yield%></center>
		</p>
		<footer>
			<center><a href="https://en.wikipedia.org/wiki/Tic-tac-toe">Wikipedia's Tic-Tac-Toe Page</a></center>
		</footer>
	</body>
</html>