<h1> Player 1 is <%=p1_name%></h1>

<p> Player 2, you are O - please enter your name </p>
<form method = "post" action = "player_2">
      <input type="text" name="p2_name">
      <submit type="submit">
	<input type="hidden" name="p1_name" value='<%=p1_name%>'>
</form>