<h1> Welcome to Tic-Tac-Toe </h1>

<p> Player 1, you are X - please enter your name </p>
<form method="post" action="player_1">
      <input type="text" name="p1_name">
      <submit type="submit">

</form>
